<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<style type="text/css">
  /* [FLEX] */

  .flex-tablewrap {
    margin: auto;
    margin-top: 10px;
    display: flex !important;
    flex-flow: wrap;
  }

  .f-row {}

  .f-cell {}
  /* [END FLEX] */
  /* [READ MORE] */

  .read-more-state {
    display: none;
    /* This is used as a state checker: it is not visible on the page */
  }

  .read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    overflow: hidden;
  }

  .read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    max-height: none;
    font-size: inherit;
  }

  .read-more-state ~ .read-more-trigger:before {
    /* This is used to insert text into our button */
    content: 'Show more';
  }

  .read-more-state:checked ~ .read-more-trigger:before {
    /* This is used to insert text into our button */
    content: 'Show less';
  }

  .read-more-trigger {
    padding: 5px;
    background-color: white;
    color: darkgrey;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
  }
  /* [END READ MORE] */
  /* [STYLES] */

  .flex-tablewrap img {
    display: block;
    margin: auto;
    max-width: 350px;
    max-height: 200px;
    height: auto;
    width: auto;
  }

  .imgholder {
    height: 200px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
  }

  .f-cell {
    background-color: white;
    width: 50%;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 20px;
    display: block;
  }

  .filler {
    border: none;
  }

  .category {
    width: 100%;
    border: none;
    border-radius: 10px 0 0 10px;
    /* padding: 20px; */
  }

  .category h2 {
    color: #425d72;
  }
  .pageturner{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pageturner a{
    font-weight:bold;
    border: 1px solid black;
    border-radius: 5px;
    background-color:lightgrey;
    padding:2px;
    padding-left: 10px;
    padding-right: 10px;
    margin:2px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
  }
  .pageturner a:hover{
    background-color:#EEE;
  }

  /*}*/
  /* [END STYLES] */
  /* [ADAPTIVE STYLES] */

  @media screen and (max-width: 990px) {
    .f-cell {
      width: 100%;
    }
  }
  /* [END ADAPTIVE STYLES] */
  /* [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  } */
  .bp-container {
    opacity: 0;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
  }
  .cloak {
    opacity: 1
  }
</style>

<p>The NCS4 Buyers Guide highlights labs tested products/services and corporate members. The purpose of this guide is to provide a resource for professionals in search of products and services that fit their needs. Inclusion in the buyer's guide does not constitute recommendation or endorsement by NCS4.
</p>


<p>To have your product or service included in the NCS4 Buyers Guide, join the Corporate Membership Program or go through the National Laboratory evaluation process. </p>
<br />


<div ng-app='BestPractices' ng-controller='BPctrl' >
  <!-- <div>{{ corp_list_split }}</div><br /> -->
  <div ng-show>
    <img style="width: 300px; height: auto; display: block; margin: auto;" src="https://higherlogicdownload.s3.amazonaws.com/NCS4/9c6c4d55-e531-4334-a8e4-aa15c3ebd848/UploadedImages/Flat%20Icons/Loadingsome.gif" alt="loading">
  </div> <!-- this class evaluates to false when angular loads -->
  <div class="bp-container" ng-class="{cloak:true}">  <!-- this class is loaded in when angular is -->
    Select a category and/or enter a phrase or name in the search bar to filter.<br />
    <select ng-model="selected" ng-options="x for x in tags"></select>&nbsp;&nbsp;&nbsp;&nbsp;
    <input ng-model='sifter' />
    <br>
    <div style="margin-top: 1em; border:2px solid #222222; border-radius: 5px; position: relative;">
        <div class="pageturner">
          <a ng-click="page.flip(-1)"><</a>
          <span>Page {{page.active}} / {{page.max}}</span>
          <a ng-click="page.flip(1)">></a>
        </div>
        <div class="flex-tablewrap" >
          <div class="f-cell" ng-repeat="x in (filtered_list = (corp_list | filter : sifter | filter : selected ) | slice:(page.active-1)*chunk_size:(page.active-1)*chunk_size + chunk_size)" >
            <div class="imgholder">
              <a href="{{x.website_link}}"><img src={{x.logo}} alt={{x.corp}} /></a>
            </div>
            <input type="checkbox" class="read-more-state" id={{x.corp}}>
            <div class="read-more-wrap">
              <h3>{{x.corp}}</h3>
              <h4>Tags:
                <span ng-repeat="y in x.ctags" ng-if="y != tags.DEFAULT"> <!-- default is used for searching, shouldnt be displayed -->
                  {{ y }}<span ng-if="!(y === x.ctags[x.ctags.length - 1])">, </span>
                </span>
              </h4>
              <p class="read-more-target">
                <span ng-repeat="y in x.desc">
                  {{y}} <br /><br />
                </span> Website: <a href={{x.website_link}}>{{ x.website_text }}</a>
                <br>
                <a href={{x.pdf}} ng-if="x.pdf != null"> View PDF</a>
                <br />

            </div>
            <label for={{x.corp}} class="read-more-trigger"></label>
          </div>
        </div>
    </div>

  </div>

</div>


  <script src="buyers_guide.js"></script>
