<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.6.0/min/tiny-slider.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

<script src="https://higherlogicdownload.s3.amazonaws.com/NCS4/9c6c4d55-e531-4334-a8e4-aa15c3ebd848/UploadedImages/JSFiles/ui-carousel_min.js"></script>
<link rel="stylesheet" type="text/css" href="https://higherlogicdownload.s3.amazonaws.com/NCS4/9c6c4d55-e531-4334-a8e4-aa15c3ebd848/UploadedImages/JSFiles/ui-carousel_min.css">
<!-- <script src="Tiny-Slider_Carousel.js"></script> -->





<!-- style="position: relative; background-color: black; border-bottom: 7px solid #ebba3a; border-top: 7px solid #ebba3a;" -->
<div ng-app='Homeslider' >
  <!-- <div class="my-slider">
    <div ng-repeat="x in slides">
      <a href="{{x.link}}"> <img class="tns_wide" src="{{x.big_screen}}" alt="{{x.title}}" /> <img class="tns_thick"
         src="{{x.small_screen}}" alt="{{x.title}}" /> </a>
    </div>

  </div> -->
  <ui-carousel
  slides="ctrl.slides"
  slides-to-show="3"
  slides-to-scroll="1"
  initial-slide="1"
  autoplay="true"
  autoplay-speed="2000"
  dots="true">

  <carousel-item ng-repeat="item in items">
    <h3>{{ item + 1 }}</h3>
  </carousel-item>
</ui-carousel>
</div>
<!-- ===============[SCRIPT]=============== -->

<script>
  // <![CDATA[







  // var slider = tns({
  //   container: '.my-slider',
  //   items: 1,
  //   slideBy: 'page',
  //   autoplay: true,
  //   autoplayHoverPause: true,
  //   autoplayButtonOutput: false,
  //   autoplayTimeout: 4000,
  //   controlsContainer: "#customize-controls",
  //   autoplayText: ["▶", "❚❚"],
  //   controlsText: ["‹", "›"],
  //   speed: 500,
  // });
  //
  // document.querySelector('.slider-next').onclick = function () { slider.goTo('next'); };
  // document.querySelector('.slider-prev').onclick = function () { slider.goTo('prev'); };
  // // "autoplayText": [ "▶", "❚❚" ],
  // function midway(jq_obj) {
  //   var width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
  //   jq_obj.css("left", (width + jq_obj.css("width")) / 2 + "px");
  // }
  // const nav_ctrls = $("nts-nav");
  // midway(nav_ctrls);
  // $(window).resize(() => midway(nav_ctrls));
  // // NOTE:
  // // prior to v2.0.2, options "container", "controlsContainer", "navContainer" and "autoplayButton" still need to be DOM elements.
  // // e.g. container: document.querySelector('.my-slider'),
  // // ]]>
</script>

<script src="Tiny-Slider_Carousel.js"></script>
