<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<!-- <script src="https://unpkg.com/flickity@2.1.1/dist/flickity.pkgd.min.js"></script> -->
<style>
  .Mcarousel-wrapper{
    overflow: hidden;
    position: relative;
    max-width: 90vw;
    margin:auto;
    border: 2px solid red;
  }
  .Mcarousel {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-flex;
    display: flex;
    width:100%;
    /* width: 600px; */
    /* height: 502px; */
  }

  .Mcarousel-inner {

    transition: transform 0.5s ease-in-out;
  }
  .Mcarousel-inner img{
    width: 90vw;
    height: auto;
  }
  .Mcarousel-btn {
    position: absolute;
    bottom: 44%;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 8px;
    font-size: 1.3em;
    background-color: rgba(255, 255, 255, 0.6);
  }
  .Mcarousel-btn:focus {
    border: 1px solid orange;
    outline: none
  }
  .CL {
    left: 5px;
    padding-left: 9px;
    padding-right: 11px;
  }
  .CR {
    right: 5px;
    padding-left: 11px;
    padding-right: 9px;
  }

  .lrg{
    display: block;
  }
  .sml{
    display: none;
  }
  @media (max-width: 900px) {
    .lrg {
      display: none;
    }
    .sml {
      display: block;
    }
  }

  [ng-cloak] { display: none; }
</style>


<div ng-app='NCS4Carousel' ng-controller='CarouselCtrl' class="ng-cloak" >
  <section  class='Mcarousel-wrapper' style="" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
    <ul class='Mcarousel' >
      <li class='Mcarousel-inner' style="transform: {{transit}};" ng-repeat='x in slides'>
        <a href="{{x.link}}">
          <img class="lrg" alt="{{x.title}}" src={{x.large}} />
          <img class="sml" alt="{{x.title}}" src={{x.small}} />
        </a>
      </li>
    </ul>
    <button class='Mcarousel-btn CL' ng-click='prev(90)'>
      <i class="fas fa-chevron-left"></i>
    </button>
    <button class='Mcarousel-btn CR' ng-click='next(90)'>
      <i class="fas fa-chevron-right"></i>
    </button>
  </section>

</div>


<script>
  const CAROUSEL_SLIDES = [

    {
      title: 'Interpol France Training Course',
      link: 'http://news.usm.edu/article/ncs4interpol-training-course-addresses-challenges-major-international-sporting-events',
      small: 'https://higherlogicdownload.s3.amazonaws.com/NCS4/9c6c4d55-e531-4334-a8e4-aa15c3ebd848/UploadedImages/Carousel%20Images/Homeslide/Home_Slide_2018_INTERPOL_980.jpg',
      large: 'https://higherlogicdownload.s3.amazonaws.com/NCS4/9c6c4d55-e531-4334-a8e4-aa15c3ebd848/UploadedImages/Carousel%20Images/Homeslide/Home_Slide_2018_INTERPOL_2000.jpg',
    },
    {
      title: 'Gameday Security',
      link: 'http://www.ncs4.com/knowledgeportal/gameday-security',
      small: 'https://higherlogicdownload.s3.amazonaws.com/NCS4/9c6c4d55-e531-4334-a8e4-aa15c3ebd848/UploadedImages/Carousel%20Images/Homeslide/Home_Slide_Gameday_Spring_2018_980.jpg',
      large: 'https://higherlogicdownload.s3.amazonaws.com/NCS4/9c6c4d55-e531-4334-a8e4-aa15c3ebd848/UploadedImages/Carousel%20Images/Homeslide/Home_Slide_Gameday_Spring_2018_2000.jpg',
    },
  ]
  app = angular.module('NCS4Carousel', []);
  //needed features: add functionality to automatically go to next slide every x seconds if mouse isn't hovering
              //fix slides to go sideways
  //neat future features:  Slides wrap around, multiple per page, ...
  app.controller('CarouselCtrl', ['$scope', '$window', function($scope, $window) {
    /*
      Future work:  Make this pull from an external piece of code with an object inside it
          >Object named slides
          >Put into a new javascript item in the homepage
          >Make new app that takes in info and outputs code in the form of the object (e.g.
                                                                                              output: const carousel_slides = [
                                                                                                {
                                                                                                  key: thing,
                                                                                                },
                                                                                                {
                                                                                                  key: other_thing,
                                                                                                }
                                                                                              }
                                                                                              ]
                                                                                              )
          >The above output will be copy pasted into the new javascript item on the homepage by the one entering it
          >Functionalities:
              -Will display info in list form
              -Add entry (with appropriate forms)
              -Remove entry (from list)
              -Move entry in relation to list
              -Print list in code form
    */
    //size: 2000x290 large
    //      980x290 small
    $scope.needLarge = true;
    $scope.slides = CAROUSEL_SLIDES;
    $scope.transit = 'translateX(0px)';
    $scope.current = 0;

    // $scope.widths = {};
    $scope.width =

    $scope.next = (offset) => {
      $scope.current = parseInt($scope.current, 10)
      offset = parseInt(offset, 10);
      ++$scope.current;
      let reverse = $scope.current === $scope.slides.length;
      if(reverse) $scope.current = 0;

      $scope.transit = `translateX( -${( $scope.current * offset )}vw)`;
      console.log($scope.current, $scope.transit)
    };

    $scope.prev = (offset) => {
      $scope.current = parseInt($scope.current, 10)
      offset = parseInt(offset, 10);

      --$scope.current;

      let reverse = $scope.current < 0;
      if(reverse) $scope.current = $scope.slides.length-1;
      $scope.transit = `translateX( -${( $scope.current * offset )}vw)`;
    }

    $scope.hoverIn = function(){
      $scope.hovered = true;
      console.log($scope.hovered)
    };

    $scope.hoverOut = function(){
      $scope.hovered = false;
      console.log($scope.hovered)
    };
    ($scope.continuousScroll = (seconds) => {
      setTimeout(function () {
        if(!$scope.hovered)$scope.next(90)
        $scope.continuousScroll(seconds);
        $scope.$apply()
      }, seconds * 1000);
    })(4);
    // $scope.continuousScroll(4);

    // $(window).resize(function() {
    //   width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
    //   if (width < 768) $scope.needLarge = false;
    //   else $scope.needLarge = false;
    // });

  }]);

  app.directive('imageHolder', ['$window', function ($window) {

     return {
        link: link,
        restrict: 'E',
        template: (elm, attrs) => '<img src="{{scope.showBig}}" alt="{{scope.title}}" />',
        scope: {
          title: "@title",
          large: "@large",
          small: "@small",
        }
     };
     scope.showBig = 'temp';
     function link(scope, element, attrs){
       scope.width = $window.innerWidth;
       scope.showBig = (scope.width >= 900) ? scope.showBig = scope.large : scope.showBig = scope.small;
       console.log(1, scope.showBig)
       scope.$digest();
       angular.element($window).bind('resize', function(){
          console.log(2, scope.showBig)
          scope.width = $window.innerWidth;
          scope.showBig = (scope.width >= 900) ? scope.showBig = scope.large : scope.showBig = scope.small;
          console.log(3, scope.showBig)
          // manuall $digest required as resize event
          // is outside of angular
          scope.$digest();
       });

     }

 }]);
</script>

<!--
<script src="http://localhost:3100/livereload.js"></script> -->
