<style>
  .hero_area{
    height: 0;
    background-image: url(https://higherlogicdownload.s3.amazonaws.com/NCS4/9c6c4d55-e531-4334-a8e4-aa15c3ebd848/UploadedImages/Header%20Images/Banner_Knowledge_wide.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 25.5%;
    overflow: hidden;
  }
  /* .main_btn{
    position: relative; margin: auto;
    display: table-cell;
    font: 1.2em Helvetica;
    padding: 10px;
    background-color: #16568d;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
  } */
  .gradient_underglow{
    background: white; /* Old browsers */
    background: -moz-linear-gradient(top, rgb(0, 0, 0) 0%,rgb(78, 78, 78) 8%,rgb(195, 195, 195) 39%,rgb(224, 224, 224) 62%,rgba(255,255,255,1) 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgb(0, 0, 0) 0%,rgb(78, 78, 78) 8%,rgb(195, 195, 195) 39%,rgb(224, 224, 224) 62%,rgba(255,255,255,1) 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgb(0, 0, 0) 0%,rgb(78, 78, 78) 8%,rgb(195, 195, 195) 39%,rgb(224, 224, 224) 62%,rgba(255,255,255,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414141', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  }
  .head-text{
    color: white;
    /* text-shadow: 0px 0px 30px rgb(0, 0, 0); */
    font-size: 6em;
    font-family: Impact;
    text-align: left;
    text-indent: 25px;
    position: absolute;
    bottom: 21px;
    left: 0;
    width: 100%;
    background-color: black;
  }
</style>


<div class="hero_area margins_wide">
  <div style="height: 30%"></div>
  <div style="font-family: Helvetica; text-align:center; color: black; height: 70%">
    <!-- <div style="font-size: 1.5em;">National Sport Security</div>
    <div style="font-size: 3em">Laboratory</div> -->
    <!-- <img style="height: 55%; width: auto; margin-top: -6%;" src="https://higherlogicdownload.s3.amazonaws.com/NCS4/9c6c4d55-e531-4334-a8e4-aa15c3ebd848/UploadedImages/Logos/Lab_Logo_v2.png" alt=""> -->
    <!-- <div class="head-text">KNOWLEDGE</div> -->
    <p>&nbsp;</p>

  </div>
</div>

<div class="gradient_underglow margins_wide" style="color: black; width: 100%; height: 7%; font: bold 1.7em Helvetica; text-align:center;">
  <div style="line-height: 20px;">&nbsp;</div>
  Overview
</div>


<!-- For wide margins on top -->


<script type="text/javascript">
    $(document).ready(function(){
      $(".row.row-wide.clearfix").addClass("no-max-width");
    })
</script>
