<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<style>
/* Gears and bobs */
    .local-flex{
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      max-width: 1200px;
      width: 90%;
      margin: auto;
      justify-content: center;
    }

    /* .local-flex{
      display: grid;
      grid-template-columns: repeat(auto-fill,minmax(280px, 1fr));
      width: 90%;
      margin: auto;
    } */

    .lf-container{
      height: 100px;
      width: 100px;
      /* border: 1px dotted black; */
      margin:auto;
    }

    .content_swap{
      opacity: 1;
      transition: opacity .2s ease;
    }
    .anim{
      opacity: 0 !important;
    }
    .hide{
      display: none !important;
    }
/* Styles */
      /* TABS CONTAINER */
    .nav-tabs {
      display: flex;
      justify-content: center;
    }

      /* BTNS */
    button.btns {
      position: relative;
      border: 0;
      color: #1c93c3;
      font-size: 1.1em;
      font-weight: bold;
      background-color: transparent;
      padding: 5px 20px;
    }
    button.btns:hover {
      cursor: pointer;
    }
    button.btns:focus {
      border-top: 0;
      border-bottom: 0;
    }
    button.btns:focus::after, button.btns:hover::after {
      border-bottom: 3px solid #03A9F4;
      content: " ";
      position: absolute;
      bottom: -6px;
      left: 0;
      width: 100%;
    }
    .btns.active_btn_switch {
      position: relative;
      color: black;
    }
    .btns.active_btn_switch::after {
      border-bottom: 3px solid #03A9F4;
      content: " ";
      position: absolute;
      bottom: -6px;
      left: 0;
      width: 100%;
    }

    /* BTN ADD UNDERLINE TO BOTTOM */
  .underlined {
    position: relative;
    text-align:center; padding-bottom: 6px;
    list-style: none;
    display: inline-block;
  }
  .underlined::before {
    content: " ";
    position: absolute;
    width: 100%;
    border-bottom: 3px solid black;
    bottom: 0;
    right: 0;
  }

      /* CARDS */
    .fcard {
      flex: 1;
      background-color: white;
      max-width: 250px;
      min-width: 250px;
      margin: 0 auto;
      padding: 5px 10px;
    }

    .fcard > h4 {
      height: 1.5em;
      display: flex;
      align-items: center;
    }
    .fcard > hr {
      border-bottom: 2px thin;
    }

    /* MINICARDS */
    .cards-associated {
      display:-webkit-flex;
      display: flex;
      overflow-x: scroll;
      align-items: flex-start;
    }

    .minicard {  /* some styling overridden in js */
      /* flex: 1; */
      background-color: white;
      max-width: 13em;
      min-width: 10em;
      min-height: 5em;
      max-height: 100px;
      margin: 5px;
      padding: 5px 10px;
      border: 2px solid black;
      border-radius: 5px;
      cursor: pointer;
      overflow-y: auto;
    }

    .cards-associated ::-webkit-scrollbar{
      width: 5px;
    }

    /* Track */
    .cards-associated ::-webkit-scrollbar-track {
        background: #f1f1f1; 
        border-radius: 5px;
    }

    /* Handle */
    .cards-associated ::-webkit-scrollbar-thumb {
        background: #888; 
        border-radius: 5px;
    }

    /* Handle on hover */
    .cards-associated ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }


    /* cloak functionality angular */
    .int-container {
      opacity: 0;
      -moz-transition: opacity 0.5s ease;
      -o-transition: opacity 0.5s ease;
      -webkit-transition: opacity 0.5s ease;
      transition: opacity 0.5s ease;
    }
    .cloak {
    opacity: 1
    }


    .popwin {
      display:block;
      position:fixed;
      background-color: lightblue;
      top: 0;
      left:0;
      width:100%;
      height:100%;
      z-index:1000000;
    }
    .popwin > .close-popwin {
      float: right;
      font-size: 21px;
      font-weight: bold;
      line-height: 1;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      opacity: .2;
    }


    /* REMOVE BEFORE UPLOAD */
    .hide {
      display: none !important;
    }
    .popWin{
      position: fixed;
      z-index: 1000;
      min-width: 100%;
      min-height: 100%;
      background-color: #808080a8;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .popWin > div {
      position: relative;
      min-width: 70vw;
      min-height: 70vh;
      max-width: 90vw;
      max-Height: 90vh;
      background-Color: white;
      border: 1px solid black;
      border-Radius: 5px;
      padding: 0 20px;
    }
    .popWin > div > .cards-btn-bar > button.pwClose {
      display: flex;
      align-Content: center;
      justify-Content: center;
      position: absolute;
      right: 0;
      padding: 0px 6px;
      background: linear-gradient(rgb(247, 133, 133), rgb(197, 74, 74));
      color: black;
      border: 1px solid #909090;
      border-Radius: 3px;
      cursor: pointer;
      font-Size: 1.4em;
    }
    .navbtnholder {
      display:-webkit-flex;
      display:flex;
    }
    .cards-btn-bar .navbtnholder button{
      width: 30px;
      margin: 3px;
      display:-webkit-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 3px; 
      background-color: white;
      border: 1px solid black;
    }
    .navbtnholder button.greyit{
      background-color:#a7a7a7;
    }
    .cards-item-link { 
      /* color: blue; */
      cursor: pointer;
      position: relative;
      /* border-left: 14px solid transparent; */
    }
    /* .cards-item-link::after {
      border-top: 8px solid blue;
      width: 100%;
      content: ' ';
      width: 8px;
      position: absolute;
      bottom: 4px;
      left: -11px;
    } */

</style>

<div class="IntApp" ng-app="IntApp" ng-controller="IntCtrl">
  <div ng-show>
    <!-- <img style="width: 300px; height: auto; display: block; margin: auto;" src="https://higherlogicdownload.s3.amazonaws.com/NCS4/9c6c4d55-e531-4334-a8e4-aa15c3ebd848/UploadedImages/Flat%20Icons/Loadingsome.gif" alt="loading"> -->
  </div>
  <div class="int-container" ng-class="{cloak:true}">
    <!-- <div class="popwin hide">
      <div class="close-popwin">X</div>
    </div> -->
    <!-- <div class="fader_wrap1"> -->

      <pop-win class="popWin" pw-item="pwItem" library="library" libsearch="libsearch" colors="colors" ng-if="pwItem.obj != null"></pop-win>
      <my-tabs>
        <my-pane title="{{item[0].replace('_',' ')}}" ng-repeat="item in libkeys.slice(0,2)">
          <div title="{{x.name}}" class='fcard' ng-repeat="x in item[1]">
            <h4 style="font-size:1.0em; color: #b89144; cursor:pointer;" ng-click="pwItem.set(libsearch(x.name, true, true).item)">{{x.name}}</h4>
            <hr>
            <!--  pwItem.set(libsearch(x.name, true))-->
            <br>
            <div class="sample" ng-bind-html="x.textsample"></div>
            <br><br>
          </div>
        </my-pane>
        <br><br><br><br>
      </my-tabs>

      <!-- {'color': 'black', 'cursor':'pointer', 'border-left': colors.People} -->
      <my-tabs>
        <my-pane title="{{item[0]}}" ng-repeat="item in libkeys.slice(2)">
          <div title="{{x.name}}" class='fcard' ng-repeat="x in item[1]">
            <h4 style="font-size:1.0em; color:#b89144; cursor:pointer;"  ng-click="pwItem.set(libsearch(x.name, true, true).item)">{{x.name}}</h4>
            <hr>
            <br>
            <div ng-bind-html="x.textsample"></div>
            <br>
            <span style="color: black; cursor:pointer;" ng-repeat="proj in x.Projects" ng-click="pwItem.set(proj)">{{library.Projects[proj].name}} <br /> </span>
            <span style="color: black; cursor:pointer;" ng-repeat="peep in x.collaborators" ng-click="pwItem.set(peep)">{{library.People[peep].name}} <br /> </span>
            <br><br>
          </div>
        </my-pane>
      </my-tabs>

    </div>

    </div>
  </div>
</div> <!-- end app -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="./CardDesign.js"></script>

